<%= form_with(model: user, local: true) do |form| %>
  <div class="header w-100 bg-main d-flex align-items-center">
    <div class="primero">
      <%= link_to root_path, class:'link' do %>
        <i class="fas fa-arrow-left text-light"></i>
      <% end %>
    </div>
    <div class="d-flex align-items center">
      <h4 class="text-casual text-uppercase text-light">LOGIN</h4>
    </div>
    <div class="actions">
      <%= form.submit "Next", class:'button text-casual-bold' %>
    </div>
  </div>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="file_real-cont d-flex align-items-center">
    <div class="file_image-cont">
      <img src="https://www.kindpng.com/picc/m/285-2855863_a-festival-celebrating-tractors-round-profile-picture-placeholder.png">
    </div>
    <div class="file_text-cont">
      <span>Upload picture</span>
    </div>
    <div class="field input-avatar">
      <%= form.file_field :avatar, class: 'file-button' %>
    </div>
  </div>

  <div class="field input">
    <%= form.text_field :name, placeholder: 'Name', class: 'input-tag' %>
  </div>
<% end %>
